<div flexContainer
     flexDirection="column"
     flexMain="start"
     flexCross="stretch">
    <p class="m8 mat-h1">Home</p>
    <div class="p8">
        <mat-slide-toggle [checked]="render"
                          (change)="toggleRender()">Render ?</mat-slide-toggle>
    </div>
    @if (render) {
    <div class="p8">
        <mat-icon>face</mat-icon>
    </div>
    } @else {
    <p class="m8">Hidden</p>
    }
    <div class="grid p8">
        <mat-form-field>
            <mat-label>Message</mat-label>
            <input matInput
                   value="Hello Universe!"
                   #message>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Action</mat-label>
            <input matInput
                   value="Dismiss"
                   #action>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Color</mat-label>
            <mat-select value="green"
                        #color>
                @for (color of colors; track color) {
                    <mat-option [value]="color">{{color}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button
                (click)="sendSnacker(message.value, action.value, color.value)">Send Snacks</button>
    </div>
</div>
